@import "libs/bootstrap-reboot.min";
@import "libs/font";
@import "base/mixins";
@import "base/variables";

* {
	font-family: Calibri, "SF UI Display", Arial, sans-serif;

}
.container {
	position: relative;
	width: 1250px;
	margin: 0 auto;
}
@import "blocks/promo";
@import "blocks/header";
@import "blocks/forms";
@import "blocks/about";
@import "blocks/partner";
@import "blocks/button";
@import "base/media";
