.about {
    .container {
        width: 821px;
    }
    padding: 119px 0 0 0;
    &__title {
        @include fz_60;
        text-align: center;
        span {
            @include line;
        }
    }
    &__subtitle {
        padding-top: 2px;
        @include fz_24;
        text-align: center;
        span {
            @include orange;
        }
    }
    &__lamp {
        padding-top: 35px;

        display: flex;
        justify-content: space-between;
        img {
            display: block;
        }
    }
    &__main {
        position: relative;
        width: 390px;
        &-descr {
            @include fz_18;
            text-align: center;
            margin-bottom: 87px;
            line-height: 24px;
            &:nth-child(1) {
                margin-top: 49px;
            }
            &:nth-child(3) {
                margin-bottom: 0;
            }
            span {
                position: absolute;
                font-size: 18px;
                font-weight: 400;
                text-align: center;
                color: $main-color;
                width: 26px;
                height: 26px;
                background-color: #fff;
                border-radius: 100%;
                border: solid 1px $main-color;
                left: 47%;
                transform: translateY(-56px);
                z-index: 2;
            }
        }

        p {
            &::after {
                content: "";
                width: 1px;
                position: absolute;
                left: 50%;
                background-color: $main-color;
                height: 59px;
                transform: translateY(-95px);
                z-index: 1;
            }
            &:first-child::after {
                height: 19px;
                transform: translateY(-78px);
            }
            &:last-child::after {
                transform: translateY(-144px);
            }
        }
    }
    &-dec {
        img {
            position: absolute;
        }
        &__circle-top {
            top: -18px;
            left: 45%;
        }
        &__circle-right {
            right: -52%;
            bottom: 114px;
        }
        &__circle-left {
            top: 26%;
            left: -53px;
        }
        &__circle-down {
            bottom: -16%;
            left: 40%;
        }
        &__triangle-left {
            top: 41%;
            left: -57%;
        }
        &__triangle-right {
            top: 28%;
            right: -3%;
        }
        &__rhomb-big {
            bottom: -6px;
            left: -12%;
        }
        &__rhomb-right {
            bottom: 23%;
            right: 15%;
        }
        &__rhomb-small {
            top: 20%;
            right: -30%;
        }
        &__rhomb-1 {
            top: 20%;
            right: -62%;
        }
    }
}
