.button_form {
    background-color: $main-color;
    width: 195px;
    height: 57px;
    padding: 18px 52px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    border: none;
    text-align: center;
}
