.promo {
    padding: 28px 0 0 0px;
    min-height: 703px;

    &__wrapper {
        display: flex;
    }
    &__lamp {
        position: absolute;
        display: flex;
        margin-top: 25px;
    }
    &__descr {
        padding: 82px 22px 0 0;
        width: 683px;
        z-index: 2;
    }
    &__title {
        @include fz_60;
        margin-bottom: 0;
        span {
            @include line;
        }
    }
    &__subtitle {
        padding-top: 20px;
        margin-bottom: 0;
        @include fz_24;
        span {
            @include orange;
        }
    }
    &__animal {
        img {
            position: absolute;
            top: 90px;
            right: -286px;
            z-index: 1;
        }
    }
    &-dec {
        img {
            position: absolute;
        }
        &__circle {
            left: 59%;
            top: 78px;
            z-index: 1;
        }
        &__circle-left {
            left: -124px;
            top: 333px;
            z-index: 1;
        }
        &__triangle {
            top: -11px;
            left: 148px;
        }
        &__triangle-2 {
            top: 505px;
            left: 463px;
        }
        &__triangle-3 {
            top: 551px;
            right: 1%;
        }
        &__rhomb-big {
            top: 212px;
            right: -5%;
            z-index: 1;
        }
        &__rhomb-small {
            left: -19px;
            top: 661px;
        }
    }
}
